.circular-text {
    position: absolute;
    inset: 0;
    margin: 0;
    border-radius: 50%;
    font-weight: 800;
    /* match what you want measured */
    /* Make spacing stable & predictable */
    letter-spacing: 0;
    /* JS does tracking; keep this at 0 */
    font-kerning: none;
    text-rendering: geometricPrecision;

    cursor: pointer;
    transform-origin: 50% 50%;
}

.circular-text span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    user-select: none;
    pointer-events: none;
    font-size: 1rem;

}