@use "../../../app/theme" as *;

.case-study-fullbleed {

    &--light {
        background: var(--cs-surface);
    }

    &__frame {

        img,
        video {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__caption {
        max-width: 1040px;
        margin: 0.7rem auto 0;
        padding: 0 1.5rem 0.2rem;
        font-size: 0.86rem;
        color: #6b7280;
    }
}