@use "../../app/theme" as *;

.hero {
    margin: 20% 0 0 10%;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;

    @include mobile {
        flex-direction: column-reverse;
        max-width: 100%;
        margin-left: 0;
        margin-top: 40%;
        gap: 0;
    }

    .wrapper {
        width: 50%;
        height: 100%;
        flex: 3;

        @include mobile {
            width: 100%;
            height: 100%;
        }

        .textContainer {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            @include mobile {
                height: 50%;
                align-items: center;
                text-align: center;
            }

            h1 {
                font-size: 40px;

                @include mobile {
                    font-size: 30px;
                }
            }

            h3 {
                margin-bottom: 5%;

                @include mobile {
                    width: 80%;
                    font-size: 16px;
                    margin-bottom: -2%;
                }
            }
        }
    }

    .imageContainer {
        flex: 2;
        position: relative;
        display: grid;
        place-items: center;

        // Give the image a fluid but bounded size
        img {
            width: 90%;
            height: auto;
            background: white;
            border-radius: 100%;
            display: block;
        }

        .circular-text {
            position: absolute;
            inset: 0;
            pointer-events: auto;
        }

        @include mobile {
            width: 80%;
            margin-bottom: 20%;
            top: unset;
        }

    }

}