/* src/app/base.scss */
@use "./theme" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-background;
    color: $primary-text-color;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}