.outer {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 80%;
  margin-top: 5%;
  
  img{
    width: 20%;
    border-radius: 10px;
    margin: 0 10% 0 10%;
  }
  .inner{
    width: 50%;
    margin: 0 10% 0 0;
    p {
      line-height: 2;
      font-size: 20px;
      color: #b3cde0;
    }
  }

}

.text-container {
  display: inline;
  position: relative;

  .highlighted-text:before {
    content: attr(data-text);
  }
  .highlighted-text {
    color: #011f4b;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 0;
    transition: clip-path 0.8s ease;
  }
}



