@import "../../app.scss";

.outer {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  max-width: 100%;
  margin-top: 5%;

  @include mobile{
    flex-direction: column;
  }
  
  img{
    width: 20%;
    border-radius: 10px;
    margin: 0 10% 0 10%;
    @include mobile {      
      width: 90%; height: 200px;
    }
  }
  .inner{
    width: 50%;
    margin: 0 10% 0 0;

    @include mobile{
      width: 90%;
      margin: 0 0 10% 0;
    }
    p {
      line-height: 2;
      font-size: 20px;
      color: #b3cde0;
      @include mobile{
        font-size: 16px;
      }
    }
  }

}

.text-container {
  display: inline;
  position: relative;

  .highlighted-text:before {
    content: attr(data-text);
  }
  .highlighted-text {
    color: #011f4b;
    width: 100%;
    position: relative;
    left: 0;
    z-index: 0;
    transition: clip-path 0.8s ease;
  }
}



