$mobile-side-padding: 20px;
$mobile-padding: 20px;
$mobile-margin: 20px;

$fs-h1: clamp(32px, 6vw, 72px);
$fs-h2: clamp(28px, 4.5vw, 48px);
$fs-h3: clamp(26px, 4.2vw, 56px);
$fs-p: clamp(16px, 1.6vw, 20px);
$fs-small: clamp(12px, 1.2vw, 14px);

$fs-num: clamp(24px, 5vw, 42px);