@use './theme' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-background;
    color: $primary-text-color;
    overflow-x: hidden;
}

:root {
    --nav-offset: 224px;
    --nav-h: 100px;
}


section[id] {
    scroll-margin-top: var(--nav-offset);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    overflow: hidden;
    width: 90%;
    margin: auto;
    margin-bottom: 40%;

    &:last-child {
        margin-bottom: 20%;
    }

    @include mobile {
        width: 100%;
    }
}

/* Global glass slab that provides the blur for navbar + sticky header */
#glass-slab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* JS sets height dynamically */
    height: var(--nav-h);

    /* Make the blur visible (Safari needs tiny alpha) */
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(18px) saturate(160%);
    -webkit-backdrop-filter: blur(18px) saturate(160%);

    pointer-events: none;

    /* Must sit ABOVE normal page content (so it can blur it),
     but BELOW the navbar and sticky header text. */
    z-index: 1000;
}