@use './theme' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-background;
    color: $primary-text-color;
    overflow-x: hidden;
}

:root {
    --nav-offset: 224px;
}


section[id] {
    scroll-margin-top: var(--nav-offset);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    overflow: hidden;
    width: 90%;
    margin: auto;
    margin-bottom: 40%;

    &:last-child {
        margin-bottom: 20%;
    }

    @include mobile {
        width: 100%;
    }
}