@use './theme' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: $light-background;
    color: $primary-text-color;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-bottom: 40%;

    &:last-child {
        margin-bottom: 20%;
    }

    @include mobile {
        width: 100%;
    }
}