// src/components/caseStudies/CaseStudySection/CaseStudySection.scss
@use "../../../app/theme" as *;

.case-study-section {
    margin: 15rem auto;

    @media (max-width: 768px) {
        margin-bottom: 3rem;
    }
}