@use "../../app/theme" as *;

.techStack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

    @include mobile {
        margin-left: 0;
        margin-top: 10%;
        flex-direction: column;
    }

    .separator {
        @include mobile {
            display: none;
        }
    }

    .mobile-separator {
        display: none;

        @include mobile {
            display: block;
        }
    }

    .wrapper {
        margin-left: 1%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;

        @include mobile {
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 80%;
        }

        img {
            width: 50px;
        }
    }

}