@import "../../app.scss";

.techStack{
    display: flex; 
    flex-direction: row;
    align-items: center;
    @include mobile{
        flex-direction: column;
    }
    .separator{
        @include mobile{
            display: none;
        }
    }
    .mobile-separator{
        display: none;
        @include mobile{
            display: block;
        }
    }
    .wrapper{
        margin-left: 1%;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 70%;

        @include mobile{
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 65%; 
        }
        
        img{
            width: 50px;
        }
    }

}