@use "../../app/theme" as *;
@use "../../app/variable" as *;

.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    gap: 50px;

    @include mobile {
        width: 100%;
        flex-direction: column;
        gap: 24px;
        padding-inline: $mobile-side-padding;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile {
            gap: 16px;
            text-align: center;
            align-items: center;
            margin-top: 40px;
        }

        h1 {
            font-size: $fs-h1;
            line-height: 1.05;
            margin: 0;

            @include mobile {
                line-height: 1.1;
            }
        }

        .item {
            display: grid;
            gap: 6px;

            h2 {
                font-size: $fs-h2;
                margin: 0;
                line-height: 1.1;
            }

            .all-letters {
                font-size: $fs-p;
                font-weight: 500;
            }
        }
    }

    .formContainer {
        position: relative;
        width: 100%;

        @include mobile {
            padding-inline: 0;
            /* outer has the side padding already */
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            input,
            textarea {
                padding: $mobile-padding;
                background-color: transparent;
                border: 2px solid $primary;
                color: $primary-text-color;
                border-radius: 6px;
                font-size: $fs-p;

                @include mobile {
                    padding: $mobile-padding;
                }
            }

            textarea {
                line-height: 1.4;
            }

            button {
                padding: $mobile-padding;
                border: none;
                background-color: $tertiary;
                color: $light;
                cursor: pointer;
                font-weight: 700;
                font-size: $fs-p;
                border-radius: 6px;
                transition: transform .06s ease, opacity .2s ease;

                &:disabled {
                    opacity: .7;
                    cursor: not-allowed;
                }

                &:active:not(:disabled) {
                    transform: translateY(1px);
                }
            }

            .message-state {
                font-size: $fs-small;
                min-height: 1.25em;

                @include mobile {
                    text-align: center;
                }
            }
        }
    }
}