@use "../../app/theme" as *;

.navbar {
    height: 100px;
    position: fixed;
    right: 0;
    width: 100%;
    background-color: $light-background;
    box-shadow: $box-shadow;
    z-index: 9999;

    .wrapper {
        max-width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            max-width: 100%;
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;
            font-size: 1.5rem;

            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;

                @include mobile {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}