@use "../../app/theme" as *;

.navbar {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9999;

    // match Sidebar glass & blur
    background:
        linear-gradient(to bottom, $glass-gradient-top, $glass-gradient-bot),
        $glass-bg;
    color: $primary-text-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: $box-shadow;

    backdrop-filter: blur(14px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);

    .wrapper {
        max-width: 80%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            max-width: 100%;
            justify-content: flex-end;
            padding: 20px;
        }

        span {
            font-weight: bold;
            font-size: 1.5rem;

            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;

                @include mobile {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}