@use "../../app/theme" as *;

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;

    @include mobile {
        width: 100%;
    }

    .experience-header {
        text-align: center;

        h2 {
            font-size: 20px;
        }

        h1 {
            font-size: 60px;
        }
    }
}

.experience-card {
    .experience-date {
        margin: 0 2% 0 2%;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        height: 100%;
        padding: 10%;

        .icon-image {
            display: flex;
            justify-self: center;
            align-self: center;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .experience-card-header {
        h3 {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            margin: 0;
            font-size: 18px;
        }
    }

    ul {
        margin-top: 1.25rem;
        list-style-type: disc;
        margin-left: 1.25rem;
        margin-bottom: 1.25rem;

        li {
            font-size: 16px;
            padding-left: 1px;
            letter-spacing: 0.05em;
        }
    }
}