@use "../../styles/theme" as *;

.cursorOrb {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none;

    background: linear-gradient(135deg,
            rgba($primary, 0.25),
            rgba(255, 255, 255, 0.08));

    box-shadow:
        0 0 0 1px rgba(255, 255, 255, 0.06),
        0 18px 45px rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(18px) saturate(200%);

    mix-blend-mode: screen;

    @include mobile {
        display: none;
    }
}

.cursorHover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    pointer-events: none;
    transform: translateZ(0);
    will-change: transform, width, height, opacity;
}

/* underline mode */
.cursorHover[data-mode="link"] {
    background: $highlight;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* outline mode */
.cursorHover[data-mode="button"] {
    background: rgba($light, 0.12);
    border: 2px solid $highlight;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

@include mobile {
    .cursorHover {
        display: none;
    }
}