@use "../../app/theme" as *;

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50vh;
}

.outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin: auto;

    @include mobile {
        margin-top: 10%;
        flex-direction: column;
    }

    .image-container {
        display: flex;
        flex: 1.5;
        height: auto;
        padding: 0 3vw;
    }

    .text-container {
        flex: 2.5;
        text-align: left;

        .highlight-effect {
            position: relative;
            font-weight: bold;
            color: $highlight;

            &::before {
                content: none;
            }
        }

        h1 {
            @include mobile {
                text-align: center;
                margin-top: 10%;
                font-size: 20px;
            }
        }

        h2 {
            text-align: left;
            color: $secondary;
            font-size: 40px;
            margin-bottom: 5%;

            @include mobile {
                text-align: center;
                font-size: 30px;
            }
        }

        p {
            line-height: 1.5;
            font-size: 18px;
            color: $tertiary;

            @include mobile {
                font-size: 16px;
            }
        }
    }
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    max-width: 700px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }
}