@use "../../app/theme" as *;

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50vh;
    margin-top: 50vh;
}

.about-section {
    width: 80%;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);

    h2 {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5rem;
        max-width: 700px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}